
body {
font-size: .75rem;
}
.alert:first-of-type{
    margin-top: 1em;
}
.badge:first-of-type{
    margin-top: .5em;
}
button {
    background-color: #ffffff !important;
}
canvas {
    width: 324px !important;
}
.card:first-of-type{
    margin-top: 1em;
}
.card-footer-margin {
padding: .3em;
}
.cards-header {
background: white;
margin-left: -1em;
margin-right: -1em;
padding-left: 1em;
}
.card-header-margin {
padding: .3em;
margin-bottom: -1em;
}
.card-label_dark {
margin-bottom: 1em;
border-left: 4px solid #d6d8d9;
}
.card-label_info {
margin-bottom: 1em;
border-left: 4px solid #d1ecf1;
}
.card-label_primary {
margin-bottom: 1em;
border-left: 4px solid #007bff;
}
.card-label_secondary {
margin-bottom: 1em;
border-left: 4px solid #e2e3e5;
}
.card-label_success {
margin-bottom: 1em;
border-left: 4px solid #28a745;
}
.card-label_warning {
margin-bottom: 1em;
border-left: 4px solid #fff3cd;;
}
.col {
    min-width: 22em;
}
.col-sm-margin {
background-color: #f5f5f5;
margin: 1em;
}
div.alert-warning ul {
color: #856404;
background-color: #fff3cd;
}
div.alert-warning li {
background-color: transparent;
}
.fa-padding {
margin-right: .5em;
margin-left: .5em;
}

h2 {
    font-size: 1.7em;
    display: contents;
}

h3 {
    font-size: 1.2em;
    display: contents;
}
h3 > .badge {
    font-size: 1.3em;
    margin-bottom: .5em;
}
.h4, h4 {
    font-size: 1.1em;
}

h6 {
font-size: .90rem;
}
.list-group-item-margin {
padding: .3em;
margin-left: .5em;
}
.list-group-item-done {
border-top: 2px solid rgba(0,0,0,.125);
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
    margin-bottom: 1em;
}

/* accessible expand cards */

            /* style the expandable's button */
            [data-expandable] {
                display: block;
                width: 100%;
                text-align: left;
                /* background: #293352; */
                border: 0;
                color: #000000;
                padding: 0.25em 0em;
                margin-bottom: 0.25em;
                }
    
                /* make sure there is a focus style for keyboard accessibility */
                [data-expandable]:focus {
                outline: 2px solid #FFFFFF;
                outline-offset: 1px;
                }
    
                /* the button that expands/collapses history log */
                [data-expandable][aria-expanded="false"]::after {
                content: '\24D8\0020';
                float: right;
                font-weight: bolder;
                font-size: 1.2em;
                padding: 0em 1em;
                }
                /* the button that expands/collapses history log */
                [data-expandable][aria-expanded="true"]::after {
                content: '\24D8\0020';
                float: right;
                transform: rotate(-180deg);
                font-weight: bolder;
                font-size: 1.2em;
                padding: 0em 1em;
                }
    
                /* pair visual appearance with accessible state  */
                .expandable[aria-hidden="true"] {
                display: none;
                }

                /* skip to main content and show focused content */
                
            a.skip-main {
                left:-999px;
                position:absolute;
                top:auto;
                width:1px;
                height:1px;
                overflow:hidden;
                z-index:-999;
            }
            a.skip-main:focus, a.skip-main:active {
                color: #0c5460;
                background-color: #d1ecf1;
                border-color: #bee5eb;
                padding: .75rem 1.25rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: .25rem;
                left: 35%;
                top: 1em;
                width: 30%;
                height: auto;
                overflow:auto;
                text-align:center;
                font-size:1.2em;
                z-index:999;
            }
            #main_content {
                text-decoration: none;
                color: #000000;
            }
